name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "15 */6 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      # this action name
      - uses: athul/waka-readme@master # do NOT replace with anything else
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }} # optional if on profile readme
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }} # required
          ### meta
          API_BASE_URL: https://wakatime.com/api # optional
          REPOSITORY: SouleymaneSy7/SouleymaneSy7 # optional
          ### content
          SHOW_TITLE: true # optional
          SECTION_NAME: waka # optional
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿ # optional
          CODE_LANG: typescript # optional
          TIME_RANGE: last_30_days # optional
          LANG_COUNT: 10 # optional
          SHOW_TIME: true # optional
          SHOW_TOTAL: true # optional
          SHOW_MASKED_TIME: false # optional
          STOP_AT_OTHER: true # optional
          IGNORED_LANGUAGES: # optional
          ### commit
          COMMIT_MESSAGE: "docs(README): update waka-readme graph with new metrics" # optional
          TARGET_BRANCH: main # optional
          TARGET_PATH: README.md # optional
          COMMITTER_NAME: "Souleymane Sy" # optional
          COMMITTER_EMAIL: souleymanesyservices@gmail.com # optional
          AUTHOR_NAME: "Souleymane Sy" # optional
          AUTHOR_EMAIL: souleymanesyservices@gmail.com # optional

